import(stats)
import(methods)

export(calcQF)
export(calculateAD_ns)
export(calculateU_ns)
export(conditionLatentObs)
export(determineNeighbors)
export(dmnorm_nngp)
export(dmnorm_sgv)
export(inverseEigen)
export(matern_corr)
export(nsCorr)
export(nsCrosscorr)
export(nsCrossdist)
export(nsCrossdist3d)
export(nsDist)
export(nsDist3d)
export(nsgpModel)
export(orderCoordinatesMMD)
export(sgvSetup)
exportClasses(NSGP)
