importFrom("stats", "dist", "rnorm")
import(methods)
import(nimble)
import(FNN)
importFrom("Matrix", "sparseMatrix")
import(StatMatch)

export(Cy_sm)
export(R_sparse_chol)
export(R_sparse_cholesky)
export(R_sparse_crossprod)
export(R_sparse_solve)
export(R_sparse_solveMat)
export(R_sparse_tcrossprod)
export(calcQF)
export(calculateAD_ns)
export(calculateU_ns)
export(conditionLatentObs)
export(crossCy_sm)
export(determineNeighbors)
export(dmnorm_gp2Scale)
export(dmnorm_nngp)
export(dmnorm_sgv)
export(inverseEigen)
export(matern_corr)
export(nimble_sparse_chol)
export(nimble_sparse_cholesky)
export(nimble_sparse_crossprod)
export(nimble_sparse_solve)
export(nimble_sparse_solveMat)
export(nimble_sparse_tcrossprod)
export(nsCorr)
export(nsCrosscorr)
export(nsCrossdist)
export(nsCrossdist3d)
export(nsDist)
export(nsDist3d)
export(nsgpModel)
export(nsgpPredict)
export(orderCoordinatesMMD)
export(rmnorm_gp2Scale)
export(rmnorm_nngp)
export(rmnorm_sgv)
export(sgvSetup)
